<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to the jungle
  </h1>
  <div class="container">
    Texto:
    <textarea [(ngModel)]="text._text" rows="4" cols="50"></textarea>
    Separador (si no seleccionas ninguno usa espacio por defecto):
    <input [(ngModel)]="text._separator" type="text">
    Filtro:
    <select [(ngModel)] = "filter">
      <option value="none">ninguno</option>
      <option value="vocals">Empieza por vocal</option>
      <option value="characters">Mas de dos caracteres</option>
      <option value="caps">Empieza por mayuscula</option>
    </select>
    
    <div>
      CONTADOR: {{counter}}
    </div>
    <button (click) = "count()"> Contar </button>

  </div>

</div>